<!-- Dialog Box for Entering the Server IP -->
<lx-dialog class="dialog dialog--l" id="server_select" onclose="serverClose()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
               Enter Server Address
            </span>
            </div>
        </div>
     <div class="dialog__content">
        <p class="p++">Enter the Server's IP Address (default localhost)
        <lx-text-field label="Server Address">
            <input type="text" ng-model="textFields.ServerName">
        </lx-text-field></p>
     </div>
         <div class="dialog__actions">
        <button  class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Proceed</button>
    </div>
</lx-dialog>