<!-- Angular content for  File upload from Blueimp File Upload-->
<lx-dialog class="dialog dialog--l" id="fileupload">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
               Add Files or Drag and Drop
            </span>
            </div>
        </div>
    <div class="formContainer" data-ng-app="uploadModule" >
      <ng-upload-form url="/files/" auto-upload="true" size-limit="500000"></ng-upload-form>
      <ng-upload-form url="//jquery-file-upload.appspot.com/"></ng-upload-form>
    </div>
    <!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
     <div class="dialog__actions">
       <button  class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Proceed</button>
     </div>
    <!-- <script src="libs/blueimp-load-image/js/load-image.all.min.js"></script> -->
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <!-- <script src="libs/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script> -->
    <!-- blueimp Gallery script -->
    <!-- <script src="libs/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script> -->
    <script src="libs/uploader.js"></script>
</lx-dialog>
