<div class="card bgc-teal-500 tc-white-1 pb+">
    <div class="toolbar bgc-teal-500 tc-white-1">
        <div class="toolbar__left">
          <img src="/images/flat.png" width="50" height="50" style="z-index:1">
        </div>
        <span class="toolbar__label fs-title"></span>
        <button class="btn btn--m btn--orange btn--raised mr" ng-click="winMin()" lx-ripple lx-tooltip="Minimise" tooltip-position="bottom"><i class="mdi mdi-minus"></i></button>
        <button class="btn btn--m btn--blue btn--raised mr" ng-click="winMax()" lx-ripple lx-tooltip="Maximise" tooltip-position="bottom"><i class="mdi mdi-monitor"></i></button>
        <button class="btn btn--m btn--green btn--raised mr" ng-click="winFul()" lx-ripple lx-tooltip="FullScreen" tooltip-position="bottom"><i class="mdi mdi-fullscreen"></i></button>
        <button class="btn btn--m btn--amber btn--raised mr" ng-click="winRot()" lx-ripple lx-tooltip="Rotate" tooltip-position="bottom"><i class="mdi mdi-sync"></i></button>
        <button class="btn btn--m btn--red btn--raised mr" ng-click="winClo()" lx-ripple lx-tooltip="Close" tooltip-position="bottom"><i class="mdi mdi-close"></i></button>
    </div>
</div>
