<md-toolbar layout-align="space-between start" layout="row" style="  box-shadow: none;">
        <div><img ng-src="/images/flat.png" alt="PinQuip" width="50" height="50"/></div>
        <!-- <h1 class="md-toolbar-tools" hide-gt-sm> </h1> -->
        <div><h1 class="md-toolbar-tools" hide-sm>PinQuip Messenger</h1></div>
  <div>
  <md-button class="md-icon-button md-accent" aria-label="Minimize" title="Minimize" ng-click="winMin()">
  <md-tooltip>
          Minimize
        </md-tooltip>
    <md-icon class="mdi-content-remove"></md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="Maximize" title="Maximize" ng-click="winMax()">
  <md-tooltip>
          Maximize
        </md-tooltip>
    <md-icon class="mdi-image-crop-16-9"></md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="Full Screen" title="Full Screen" ng-click="winFul()"><md-tooltip>
          FullScreen
        </md-tooltip>
    <md-icon class="mdi-navigation-fullscreen"></md-icon>
  </md-button>
    <md-button class="md-icon-button" aria-label="Rotate" title="Rotate" ng-click="winRot()"><md-tooltip>
          Rotate
        </md-tooltip>
    <md-icon class="mdi-device-screen-rotation"></md-icon>
  </md-button>
  <a class="waves-effect waves-light btn red" ng-click="winClo()" aria-label="Close" title="Close"><md-tooltip>
          Close
        </md-tooltip><i class="mdi-navigation-close"></i></a>
  </div>
</md-toolbar>
