<header class="pane-header">
<div class="toolbar bgc-green-400 tc-white-1">
<div class="toolbar__left">
	<div class="avatar" id="icon-user-default"> <img src="/images/DP/s.jpg" class="img-round"></div>
</div>
    <span class="toolbar__label fs-title"></span>
    <div class="toolbar__right">
    <button class="btn btn--m btn--blue btn--fab mr" lx-ripple lx-tooltip="New Chat" tooltip-position="bottom"><i class="mdi mdi-comment-plus-outline"></i></button>
    <button class="btn btn--m btn--amber btn--fab mr" lx-ripple lx-tooltip="New Group" tooltip-position="bottom"><i class="mdi mdi-account-multiple-plus"></i></button>
    <button class="btn btn--m btn--orange btn--fab mr" lx-ripple lx-tooltip="New Broadcast" tooltip-position="bottom"><i class="mdi mdi-theater"></i></button>
    <lx-dropdown position="right" from-top="false">
    <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle lx-tooltip="Options" tooltip-position="bottom">
      <i class="mdi mdi-dots-vertical"></i>
    </button>
        <lx-dropdown-menu>
    <ul>
      <li><a class="dropdown-link">Contacts</a></li>
      <li><a class="dropdown-link">Settings</a></li>
      <li><a class="dropdown-link">Status</a></li>
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-link">Help</a></li>
      <li ng-click="opendDialog('server_select')"><a class="dropdown-link">Change Server</a></li>
    </ul>
  </lx-dropdown-menu>
</lx-dropdown>
</div>
</div>
</header>
<div class="pane-subheader subheader-search"><lx-search-filter model="searchFilter.second" position="right" theme="light" filter-width="100%" placeholder="Search"></lx-search-filter></div>
<div class="pane-body" id="pane-side" lx-scrollbar style="max-height: 500px;" >
<ul class="list mt" ng-controller="MessageController as message">
	<li class="list-row list-row--has-separator" ng-class="{ active:message.isSelected(1) }" ng-click="message.selectTab(1)">
		<div class="list-row__primary">
			<img src="/images/DP/s.jpg" width="50" height="50" class="img-round">
		</div>

		<div class="list-row__content">
			<span class="display-block">Two-line item</span>
			<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
		</div>

		<div class="list-row__secondary">
			<i class="icon icon--xs icon--grey icon--flat mdi mdi-dots-horizontal"></i>
		</div>
	</li>
	<li class="list-row list-row--has-separator" ng-class="{ active:message.isSelected(2) }" ng-click="tab = 2">
		<div class="list-row__primary">
			<img src="/images/DP/k.jpg" width="55" height="55" class="img-round">
		</div>

		<div class="list-row__content">
			<span class="display-block">Two-line item</span>
			<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
		</div>
		<div class="list-row__secondary">
			<i class="icon icon--xs icon--grey icon--flat mdi mdi-dots-horizontal"></i>
		</div>
	</li>
	<li class="list-row list-row--has-separator" ng-class="{ active:message.isSelected(3)}" ng-click="tab = 3">
		<div class="list-row__primary">
			<img src="/images/DP/v.jpg" width="60" height="60" class="img-round">
		</div>
		<div class="list-row__content">
			<span class="display-block">Two-line item</span>
			<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
		</div>
		<div class="list-row__secondary">
			<i class="icon icon--xs icon--grey icon--flat mdi mdi-dots-horizontal"></i>
		</div>
	</li>
	<li class="list-row list-row--has-separator">
		<div class="list-row__primary">
			<img src="/images/DP/s.jpg" width="40" height="40" class="img-round">
		</div>
		<div class="list-row__content">
			<span class="display-block">Two-line item</span>
			<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
		</div>
		<div class="list-row__secondary">
			<i class="icon icon--xs icon--grey icon--flat mdi mdi-dots-horizontal"></i>
		</div>
	</li>
	<li class="list-row list-row--has-separator">
		<div class="list-row__primary">
			<img src="/images/DP/k.jpg" width="40" height="40" class="img-round">
		</div>
		<div class="list-row__content">
			<span class="display-block">Two-line item</span>
			<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
		</div>

		<div class="list-row__secondary">
			<i class="icon icon--xs icon--grey icon--flat mdi mdi-dots-horizontal"></i>
		</div>
	</li>
	<li class="list-row list-row--has-separator">
		<div class="list-row__primary">
			<img src="/images/DP/v.jpg" width="40" height="40" class="img-round">
		</div>
		<div class="list-row__content">
			<span class="display-block">Two-line item</span>
			<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
		</div>
		<div class="list-row__secondary">
			<i class="icon icon--xs icon--grey icon--flat mdi mdi-dots-horizontal"></i>
		</div>
	</li>
	<li class="list-row list-row--has-separator">
		<div class="list-row__primary">
			<img src="/images/DP/s.jpg" width="40" height="40" class="img-round">
		</div>
		<div class="list-row__content">
			<span class="display-block">Two-line item</span>
			<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
		</div>
		<div class="list-row__secondary">
			<i class="icon icon--xs icon--grey icon--flat mdi mdi-dots-horizontal"></i>
		</div>
	</li>
	<li class="list-row list-row--has-separator">
		<div class="list-row__primary">
			<img src="/images/DP/k.jpg" width="40" height="40" class="img-round">
		</div>
		<div class="list-row__content">
			<span class="display-block">Two-line item</span>
			<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
		</div>
		<div class="list-row__secondary">
			<i class="icon icon--xs icon--grey icon--flat mdi mdi-dots-horizontal"></i>
		</div>
	</li>
	<li class="list-row list-row--has-separator">
		<div class="list-row__primary">
			<img src="/images/DP/v.jpg" width="40" height="40" class="img-round">
		</div>
		<div class="list-row__content">
			<span class="display-block">Two-line item</span>
			<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
		</div>
		<div class="list-row__secondary">
			<i class="icon icon--xs icon--grey icon--flat mdi mdi-dots-horizontal"></i>
		</div>
	</li>
	<li class="list-row list-row--has-separator">
		<div class="list-row__primary">
			<img src="/images/DP/s.jpg" width="40" height="40" class="img-round">
		</div>

		<div class="list-row__content">
			<span class="display-block">Two-line item</span>
			<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
		</div>
		<div class="list-row__secondary">
			<div class="fab">
				<button class="fab__primary btn btn--xl btn--red btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="top">
					<i class="mdi mdi-android"></i>
					<i class="mdi mdi-plus"></i>
				</button>

				<div class="fab__actions fab__actions--left">
					<button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					<button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-package"></i></button>
					<button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-pencil"></i></button>
				</div>
			</div>
		</li>
<li class="list-row list-row--has-separator">
	<div class="list-row__primary">
		<img src="/images/DP/v.jpg" width="40" height="40" class="img-round">
	</div>

	<div class="list-row__content">
		<span class="display-block">Two-line item</span>
		<span class="display-block fs-body-1 tc-black-2">Secondary text</span>
	</div>
	<lx-dropdown position="right" from-top>
	<div class="list-row__secondary">
		<button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
			<i class="mdi mdi-dots-vertical"></i>
		</button>
	</div>
	<lx-dropdown-menu>
	<ul>
		<li><a class="dropdown-link">Action</a></li>
		<li><a class="dropdown-link">Another action</a></li>
		<li><a class="dropdown-link">Something else here</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
		<li><a class="dropdown-link">Separated link</a></li>
	</ul>
</lx-dropdown-menu>
</lx-dropdown>
</li>
</ul>
</div>
<!-- dialog for selecting custom server. starts when forms loads -->
<lx-dialog class="dialog dialog--l" id="server_select" onclose="closingDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
               Enter Server Address
            </span>
            </div>
        </div>
     <div class="dialog__content">
        <p class="p++">Enter the Server's IP Address (default localhost)
        <lx-text-field label="Server Address">
            <input type="text" ng-model="textFields.ServerName">
        </lx-text-field></p>
     </div>
         <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Proceed</button>
    </div>
    </lx-dialog>