<div id="side">
  <header>
    <div class="toolbar bgc-green-400 tc-white-1">
      <div class="toolbar__left">
          <img ng-src="{{left.myimage}}"  class="img-round" width="50" height="50" >
      </div>
      <span class="toolbar__label fs-title"></span>
      <div class="toolbar__right">
        <button class="btn btn--m btn--blue btn--fab mr" lx-ripple lx-tooltip="New Chat" tooltip-position="bottom"><i class="mdi mdi-comment-plus-outline"></i></button>
        <button class="btn btn--m btn--amber btn--fab mr" lx-ripple lx-tooltip="New Group" tooltip-position="bottom"><i class="mdi mdi-account-multiple-plus"></i></button>
        <button class="btn btn--m btn--orange btn--fab mr" lx-ripple lx-tooltip="New Broadcast" tooltip-position="bottom"><i class="mdi mdi-theater"></i></button>
        <lx-dropdown position="right" from-top="false">
          <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle lx-tooltip="Options" tooltip-position="bottom"><i class="mdi mdi-dots-vertical"></i></button>
          <lx-dropdown-menu >
            <ul>
              <li><a class="dropdown-link">Contacts</a></li>
              <li><a class="dropdown-link">Settings</a></li>
              <li ng-click="opendDialog('register')"><a class="dropdown-link">Profile</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link">Help</a></li>
              <li ng-click="opendDialog('server')"><a class="dropdown-link">Change Server</a></li>
            </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </div>
    </div>
  </header>
  <div class="pane-subheader subheader-search">
    <lx-search-filter model="searchFilter" position="right" theme="light" filter-width="100%" placeholder="Search"></lx-search-filter>
  </div>
  <pq-video-chat></pq-video-chat>
  <div  id="pane-side" class="ng-cloak bgc-teal-200" lx-scrollbar>
    <ul class="list ng-cloak">
      <li class="list-row list-row--has-separator ng-cloak" ng-repeat="contact in left.ContactsCheck | orderBy : 'contact.friend' : reverse|filter:searchFilter" ng-class="{'bgc-light-green-500':left.isSelected(contact.username)}" ng-click="left.selectTab(contact.username)">
        <div class="list-row__primary mr">
          <img ng-src="{{contact.image}}" width="50" height="50" class="img-round">
        </div>
        <div class="list-row__content">
          <span class="display-block">{{contact.name}}</span>
          <span class="display-block fs-body-1 tc-black-2">{{contact.designation}}, {{contact.organisation}}</span>
        </div>
        <div class="list-row__secondary">
          <div class="fab">
            <button class="fab__primary btn btn--m btn--fab" lx-ripple lx-tooltip="Actions" tooltip-position="top" ng-class="{'btn--red':contact.friend,'btn--amber':!(contact.friend)}">
              <i class="mdi mdi-menu-left"></i>
              <i class="mdi mdi-plus"></i>
            </button>

            <div class="fab__actions fab__actions--left" ng-show="contact.friend">
              <button class="btn btn--m btn--black btn--fab" lx-ripple lx-tooltip="Delete Conversation" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
              <button class="btn btn--m btn--black btn--fab" lx-ripple lx-tooltip="Archive Conversation" tooltip-position="top"><i class="mdi mdi-package"></i></button>
              <button class="btn btn--m btn--black btn--fab" lx-ripple lx-tooltip="Clear Conversation" tooltip-position="top"><i class="mdi mdi-multiplication"></i></button>
              <button class="btn btn--m btn--black btn--fab" lx-ripple lx-tooltip="Email Conversation" tooltip-position="top"><i class="mdi mdi-link"></i></button>
              <button class="btn btn--m btn--black btn--fab" lx-ripple lx-tooltip="Block Contact" tooltip-position="top"><i class="mdi mdi-block-helper"></i></button>
            </div>
                        <div class="fab__actions fab__actions--left" ng-hide="contact.friend">
              <button class="btn btn--m btn--green btn--fab" lx-ripple lx-tooltip="Accept Request" tooltip-position="top"><i class="mdi mdi-checkbox-marked-outline"></i></button>
              <button class="btn btn--m btn--red btn--fab" lx-ripple lx-tooltip="Reject Request" tooltip-position="top"><i class="mdi mdi-close-box-outline"></i></button>
            </div>
          </div>
        </div>
      </li>
    </ul>       <div class="block-compose tc-black-2 bgc-blue-400">
                 <p class="fs-title tc-white-1">My IP : <span id="ip" ng-bind="ip">
            </span></p>
  </div>
  </div>
</div>
