<md-toolbar layout-padding layout-align="space-between center" layout="row" class="grey lighten-3 grey-text text-darken-2">
        <div> <img src="images/DP/8109848253.jpg" alt="" class="circle responsive-img" width="48px"></div>
        <!-- <h1 class="md-toolbar-tools" hide-gt-sm> </h1> -->
        <!-- <div ><h1 class="md-toolbar-tools" hide-sm>Sumit Kumar</h1></div> -->
  <div>
<!--     <a class="waves-effect waves-teal btn-floating yellow darken-1" aria-label="New Chat" title="New Chat"><md-tooltip>
          New Chat
        </md-tooltip><i class="mdi-communication-chat"></i></a>
    <a class="waves-effect waves-teal btn-floating green" aria-label="New Group" title="New Group"><md-tooltip>
          New Group
        </md-tooltip><i class="mdi-social-group-add"></i></a>
          <a class="waves-effect waves-teal btn-floating blue" aria-label="New Broadcast" title="New Broadcast"><md-tooltip>
          New Broadcast
        </md-tooltip><i class="mdi-action-settings-remote"></i></a> -->
<a class="dropdown-button waves-effect waves-teal btn-flat" data-beloworigin="true" data-activates="dropdown1" data-hover="true"  href="javascript:void(0);" dropdown data-constrainwidth="false"><i class="small mdi-navigation-more-vert"></i></a>
   <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Contacts</a></li>
    <li ng-click="registrationForm($event)"><a href="#!">Profile</a></li>
    <li><a href="#!">Status</a></li>
    <li class="divider"></li>
    <li><a href="#!">Change Server</a></li>
  </ul>
      <a ng-click="close()" class="waves-effect waves-teal btn-flat" aria-label="Hide" title="Hide" hide-gt-md><md-tooltip>
          Hide
        </md-tooltip><i class="small mdi-navigation-chevron-left"></i></a>
  </div>
</md-toolbar>
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="mdi-action-search"></i></label>
          <i class="mdi-navigation-close"></i>
        </div>
      </form>
    </div>
  </nav>
<md-content>
  <table class="bordered hoverable">
  <tbody>
    <tr class="row">
      <td class="col s2"><img src="images/DP/9806540120.jpg" alt="" class="circle responsive-img" width="48px"></td>
      <td class="col s10"><name>Eclair</name><message>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</message><metal>11:10 AM</metal></td>
<!--     <td class="col s2"> <div class="fixed-action-btn">
    <a class="btn-floating red">
      <i class="mdi-editor-mode-edit"></i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="mdi-editor-insert-chart"></i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="mdi-editor-format-quote"></i></a></li>
      <li><a class="btn-floating green"><i class="mdi-editor-publish"></i></a></li>
      <li><a class="btn-floating blue"><i class="mdi-editor-attach-file"></i></a></li>
    </ul>
  </div></td> -->
    </tr>
  </tbody>
  </table>
</md-content>
