<md-toolbar layout-padding layout-align="space-between center" layout="row" class="grey lighten-3 grey-text text-darken-2"><div hide-gt-md ng-click="toggleLeft()">    <a class="waves-effect waves-teal btn-flat" aria-label="Chat List" title="Chat List"><i class="mdi-navigation-menu"></i></a></div>
        <div> <img src="images/DP/9806540120.jpg" alt="" class="circle responsive-img" width="48px"></div>
        <!-- <h1 class="md-toolbar-tools" hide-gt-sm> </h1> -->
        <div show-gt-sm><h1 class="md-toolbar-tools">Vikash Kumar</h1></div>
  <div>
    <a class="waves-effect waves-teal btn-floating yellow darken-1" aria-label="File Upload" title="File Upload"><md-tooltip>
          File Upload
        </md-tooltip><i class="mdi-file-attachment"></i></a>
    <a class="waves-effect waves-teal btn-floating green" aria-label="Video Call" title="Video Call"><md-tooltip>
          Video Call
        </md-tooltip><i class="mdi-av-videocam"></i></a>
          <a class="waves-effect waves-teal btn-floating blue" aria-label="Audio Call" title="Audio Call"><md-tooltip>
          Audio Call
        </md-tooltip><i class="mdi-communication-phone"></i></a>
<a class="dropdown-button waves-effect waves-teal btn-flat" data-beloworigin="true" data-activates="dropdown2" data-hover="true"  href="javascript:void(0);" dropdown data-gutter="320" data-constrainwidth="false"><i class="small mdi-navigation-more-vert"></i></a>
   <ul id="dropdown2" class="dropdown-content">
    <li ng-click="toggleRight()"><a href="#!">Contact info</a></li>
    <li><a href="#!">Block</a></li>
    <li class="divider"></li>
    <li><a href="#!">Clear Conversation</a></li>
  </ul>
   <!--    <a ng-click="close()" class="waves-effect waves-teal btn-flat" aria-label="Hide" title="Hide" hide-gt-md><md-tooltip>
          Hide
        </md-tooltip><i class="small mdi-navigation-chevron-left"></i></a> -->
  </div>
</md-toolbar>
<div layout="column" layout-fill layout-align="top center">
    <div class="message-list ">
      <div class="msg" ng-repeat="text in message.message.messages">
        <div class="message" ng-class=" {'message-system' : text.type == 'system' , 'message-in' : text.type == 'in','message-out' : text.type == 'out' }">
          <span class="message-system-body" ng-show="text.type==='system'">
            <span >{{text.body}}</span>
          </span>
          <div class="bubble bubble-text" ng-hide="text.type==='system'">
            <div class="message-text">
                <span class="emojitext"><pre ng-bind-html="text.body| colonToSmiley"></pre></span>
              <div class="message-meta">
              <span></span>
                <span class="message-datetime">{{text.meta}}</span>
                <!-- <span class="message-datetime">{{text.meta|date:'h:mma'}}</span> -->
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<pane-footer></pane-footer>
</div>
