<header class="pane-header pane-chat-header">
	<div class="toolbar bgc-green-600 tc-white-1">
	<div class="toolbar__left">
	<div class="avatar"> <img src="/images/DP/v.jpg" class="img-round"></div>
</div>
    <span class="toolbar__label fs-title"></span>
    <div class="toolbar__right">
     <button class="btn btn--m btn--blue btn--fab mr" lx-ripple lx-tooltip="Video Call" tooltip-position="bottom"><i class="mdi mdi-play-box-outline"></i></button>
    <button class="btn btn--m btn--amber btn--fab mr" lx-ripple lx-tooltip="Audio Call" tooltip-position="bottom"><i class="mdi mdi-phone"></i></button>
       <div class="fab">
  <button class="fab__primary btn btn--l btn--red btn--fab" lx-ripple>
    <i class="mdi mdi-attachment"></i>
    <i class="mdi mdi-chevron-down"></i>
  </button>

  <div class="fab__actions fab__actions--bottom ">
    <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="File" tooltip-position="bottom"><i class="mdi mdi-file"></i></button>
    <button class="btn btn--l btn--black btn--fab"  lx-ripple lx-tooltip="Image" tooltip-position="bottom"><i class="mdi mdi-message-image"></i></button>
    <button class="btn btn--l btn--black btn--fab"  lx-ripple lx-tooltip="Video" tooltip-position="bottom"><i class="mdi mdi-message-video"></i></button>
    <button class="btn btn--l btn--black btn--fab"  lx-ripple lx-tooltip="Audio" tooltip-position="bottom"><i class="mdi mdi-microphone"></i></button>
    <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Contact" tooltip-position="bottom"><i class="mdi mdi-account-box"></i></button>
  </div>
  </div>
    <lx-dropdown position="right" from-top="false">
    <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle lx-tooltip="Options" tooltip-position="bottom">
      <i class="mdi mdi-dots-vertical"></i>
    </button>
        <lx-dropdown-menu>
    <ul>
      <li><a class="dropdown-link">Contact Info</a></li>
      <li><a class="dropdown-link">Block</a></li>
      <li><a class="dropdown-link">Status</a></li>
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-link">Email Conversation</a></li>
      <li><a class="dropdown-link">Clear Conversation</a></li>
      <li><a class="dropdown-link">Delete Conversation</a></li>
      <li><a class="dropdown-link">Archive Conversation</a></li>
    </ul>
  </lx-dropdown-menu>
</lx-dropdown>
</div>
</div>
</header>
<div id="pane-main" class="pane-body pane-chat-body lastTabIndex" lx-scrollbar ng-controller="MessageController as message">
	<div class="pane-chat-empty"></div>
	<div class="more"></div>
	<div class="btn-more" title="Load earlier messages...">	</div>
		<span class="icon icon-refresh"></span>
		<div class="message-list" ng-show="tab===1">
			<div class="msg">
				<div class="message message-system">
					<span class="message-system-body">
						<span class="emojitext">MARCH 13, 2015</span>
					</span>
				</div>
			</div>
			<div class="msg">
				<div class="message message-in">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hi there!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:56 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-out">
					<div class="bubble bubble-text">
						<div class="message-text">
							
								<span class="emojitext"><pre>Hey!</pre></span>
							
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:57 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-in">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hi there!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:56 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-out">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hey!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:57 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-in">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hi there!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:56 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
				<div class="message-list" ng-show="tab===2">
			<div class="msg">
				<div class="message message-system">
					<span class="message-system-body">
						<span class="emojitext">MARCH 14, 2015</span>
					</span>
				</div>
			</div>
			<div class="msg">
				<div class="message message-in">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hi Sumit!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:56 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-out">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hey!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:57 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-in">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hi there!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:56 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-out">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hey!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:57 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-in">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hi there!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:56 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
				<div class="message-list" ng-show="tab===3">
			<div class="msg">
				<div class="message message-system">
					<span class="message-system-body">
						<span class="emojitext">MARCH 15, 2015</span>
					</span>
				</div>
			</div>
			<div class="msg">
				<div class="message message-in">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hi there Vikash!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:56 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-out">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hey!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:57 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-in">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hi there!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:56 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-out">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hey!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:57 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="msg">
				<div class="message message-in">
					<div class="bubble bubble-text">
						<div class="message-text">
							<pre>
								<span class="emojitext">Hi there!</span>
							</pre>
							<div class="message-meta">
								<span></span>
								<span class="message-datetime">12:56 AM</span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<footer class="pane-footer pane-chat-footer">
	<div class="block-compose">
		<button class="btn btn--l btn--blue btn--icon btn-emoji" lx-ripple style="position: absolute;"><i class="mdi mdi-emoticon"></i></button>
		<div class="input-container" id="compose-input">
			
		</div>
		<div>
			<span>
				<button class="btn btn--m btn--blue btn--icon btn-stickers" lx-ripple><i class="mdi mdi-tag-faces"></i></button>
			</span>
		</div>
		<div>
		<span>
			
		</span>	
		</div>
	</div>
</footer>