<footer class="pane-footer pane-chat-footer grey">
 <div class="block-compose" emoji-form emoji-message="emojiMessage">
<a class="waves-effect waves-teal btn-flat btn-emoji" id="emojibtn"><i class="small mdi-image-tag-faces"></i></a>
<div class="input-container" >
<textarea id="messageInput" ng-model="emojiMessage.messagetext" placeholder="Enter a message..."></textarea>
</div>
<div class="ptt-container">
<span >
<a class="waves-effect waves-teal btn-flat icon-ptt" ><i class="small mdi-content-send"></i></a>
<!-- <a class="waves-effect waves-teal btn-flat icon-ptt" ><i class="small mdi-av-mic"></i></a>-->
</span>
</div>
</div>
 <!-- <div emoji-form emoji-message="emojiMessage">
    <textarea id="messageInput" placeholder="Enter a message..." ng-model="emojiMessage.messagetext"></textarea>

    <button >
        <i class="icon icon-emoji"></i>
    </button>
</div> -->
</footer>
