<footer class="pane-footer pane-chat-footer">
  <div class="block-compose">
      <button class="btn btn--m btn--blue btn--icon btn-emoji" lx-ripple><i class="mdi mdi-emoticon"></i></button>
      <div class="input-container" id="compose-input">
        <!-- <div class="placeholder floating-placeholder">Type a Message</div> -->
        <div contenteditable="true" class="emojis-wysiwyg">
        </div>
      </div>
      <!-- <button class="btn btn--m btn--blue btn--icon btn-stickers" lx-ripple><i class="mdi mdi-tag-faces"></i></button> -->
  </div>
</footer>
<script>
// Emoji TextArea Parser
//$('.emojis-plain').emojiarea({wysiwyg: false});
var $wysiwyg = $('.emojis-wysiwyg').emojiarea({wysiwyg: true});
var $wysiwyg_value = $('#emojis-wysiwyg-value');    
$wysiwyg.on('change', function() {
  $wysiwyg_value.text($(this).val());
});
$wysiwyg.trigger('change');
$('.emojitext').each(function(i, d){
    $(d).emoji();
});
</script>