<!DOCTYPE html>
<html ng-app="pinquip-messenger" >
   <head>
		<title>PQ: PinQuip Messenger</title>
		<!-- LUMX UI Framework -->
		<link rel="stylesheet" href="libs/lumx/dist/lumx.css">
		<!-- MDI Icon CSS -->
		<link rel="stylesheet" href="libs/mdi/css/materialdesignicons.css">
		<!-- Main Application CSS -->
		<link rel="stylesheet" href="css/app.css">
		<!-- File Upload CSS -->
		<!-- <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css"> -->
		<!-- <link rel="stylesheet" href="css/style.css"> -->
		<!-- blueimp Gallery styles -->
		<link rel="stylesheet" href="libs/blueimp-gallery/css/blueimp-gallery.css">
		<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
		<link rel="stylesheet" href="css/jquery.fileupload.css">
		<link rel="stylesheet" href="css/jquery.fileupload-ui.css">
		<!-- CSS adjustments for browsers with JavaScript disabled -->
		<noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
		<noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
		<!-- Scripts -->
		<script src="libs/jquery/dist/jquery.min.js"></script>
		<!-- <script src="libs/file/jquery.ui.widget.js"></script> -->
		<script src="libs/velocity/velocity.min.js"></script>
		<script src="libs/velocity/velocity.ui.min.js"></script>
		<script src="libs/moment/min/moment-with-locales.js"></script>
		<script src="libs/angular/angular.min.js"></script>
		<script src="libs/angular/angular-cookie.js"></script>
		<!-- <script src="libs/angular-moment/angular-moment.min.js"></script> -->
		<script src="libs/lumx/dist/lumx.js"></script>
		<!-- PouchDB script for pouchdb wrapper for indexed DB -->
		<script src="libs/pouchdb-3.3.1.min.js"></script>
		<!-- <script src="libs/pouchdb.quick-search.min.js"></script> -->
		<script src="js/angular-pouchdb.js"></script>
		<!-- DexieJS script for dexie wrapper for indexed DB -->
		<!-- <script src="libs/Dexie.js"></script> -->
		<!-- PeerJS Script for PeerJS client -->
		<script src="libs/peer.js"></script>
		<!-- Font Script for supporting different devices -->
		<script src="libs/webfont.js"></script>
   </head>
	<body class="ui" >
		<div class="app-wrapper">
			<!-- main header bar containing the window controls -->
			<header-bar></header-bar>
			<!-- Lumx new body Application Body containg all the contents -->
			<div class="app tc-white-1" flex-container="row" ng-controller="MainCtrl" ng-init="ip='<%= ip %>'">
			<!-- left sidebar comprises 30% on pc and when used in mobile should reduce to 10% showing just the pictures and an option to expand hiding message view contains collapse button too-->
				<div flex-item="3" flex-item-order="1"><left-sidebar></left-sidebar></div>
				<!-- message window coprises 70% on pc-->
			  <div flex-item="6" flex-item-order="2"><message-body></message-body></div>
			  <!-- Right sidebar for contact info and settings menu -->
			  <div flex-item="3" flex-item-order="3"><right-sidebar></right-sidebar></div>
			<lx-dialog class="dialog dialog--l" id="register">
		<div class="dialog__header bgc-light-blue-500 pl++">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
               Enter Your Details
            </span>
            </div>
    </div>
    <div class="dialog__content p++">
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="First name" icon="account">
                <input type="text" ng-model="firstName">
            </lx-text-field>
        </div>

        <div flex-item>
            <lx-text-field label="Last name">
                <input type="text" ng-model="lastName">
            </lx-text-field>
        </div>
    </div>
        <div flex-container="row" flex-gutter="24" icon="email">
        <div flex-item>
            <lx-text-field label="Email" error="!emailValidation(email)">
                <input type="email" ng-model="email">
            </lx-text-field>
        </div>

        <div flex-item>
            <lx-text-field label="Phone Number" icon="phone">
                <input type="text" ng-model="phone">
            </lx-text-field>
        </div>
    </div>
        <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="Organisation" icon="city">
                <input type="text" ng-model="organisation">
            </lx-text-field>
        </div>

        <div flex-item>
            <lx-text-field label="Designation" >
                <input type="text" ng-model="designation">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="Username">
                <input type="text" ng-model="username">
            </lx-text-field>
        </div>
            <div flex-item>
        <lx-file-input label="Profile Picture" onchange="angular.element(this).scope().uploadFile(this.files[0])" accept="image/jpg"></lx-file-input>
    </div>
    </div>
    </div>
        <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" ng-click="register()" lx-ripple lx-dialog-close>Register</button>
    </div>
		</lx-dialog>
		<!-- Dialog Box for Entering the Server IP -->
<lx-dialog class="dialog dialog--l" id="server" >
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
               Enter Server Address
            </span>
            </div>
        </div>
     <div class="dialog__content">
        <p class="p++">Enter the Server's IP Address (default localhost to create new)
        <lx-text-field label="Server Address">
            <input type="text" ng-model="ServerName">
        </lx-text-field></p>
     </div>
     <div class="dialog__actions">
       <button  class="btn btn--m btn--black btn--flat" lx-ripple ng-click="server(ServerName)" lx-dialog-close>Proceed</button>
     </div>
</lx-dialog>
 <lx-dialog class="dialog dialog--l" id="statusServer">
        <div class="dialog__content p++">
            <span class="fs-subhead display-block text-center">{{handler.statusMsg}}</span>
        </div>
    </lx-dialog>
			</div>
		</div>


		<!-- Main App Script -->
		<script src="js/blueimp-angular.js"></script>
		<script src="js/app-main.js"></script>
		<!-- Custom Directives -->
		<script src="js/header-bar.directive.js"></script>
		<script src="js/message-body.directive.js"></script>
		<script src="js/left-sidebar.directive.js"></script>
		<script src="js/pane-footer.directive.js"></script>
		<script src="js/right-sidebar.directive.js"></script>
		<script src="js/pouchDB-Populate.js"></script>
		<!-- Angular Scripts -->
		<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
		<script src="libs/blueimp-load-image/js/load-image.all.min.js"></script>
		<!-- The Canvas to Blob plugin is included for image resizing functionality -->
		<script src="libs/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
		<!-- blueimp Gallery script -->
		<script src="libs/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
		<script src="libs/uploader.min.js"></script>
		<!-- <script src="js/blueimp-angular.js"></script> -->
		<script src="js/nguploadform.directive.js"></script>
		<!-- <script src="js/db-populate.js"></script> -->
		<!-- Script for Peer functionality -->
		<script src="js/pq-videochat.directive.js"></script>
				<!-- Emoji Area CSS -->
		<link rel="stylesheet" href="css/jquery.emojiarea.css">
		<!-- Emoji Parser for texts around the application -->
		<script src="js/packs/jquery.emoji.js"></script>
		<!-- EmojiArea creator -->
		<script src="js/packs/jquery.emojiarea.js"></script>
		<!-- Emoji Database separated in groups -->
		<script src="js/packs/basic/emojis.js"></script>
		<!-- Group Icons -->
		<link rel="stylesheet" href="fontello/css/fontello.css">
	</body>
</html>

